<!DOCTYPE html>
<html>
    <head>
        <title>Theater Layout</title>
        <link href="images/logo.jpg" rel="icon favicon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/main_css.css" type="text/css" rel="stylesheet" />
        <link href="bower_components/font_awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>
        <script src="js/main_js.js" type="text/javascript"></script>
    </head>

    <body ng-app="webshop" ng-controller="webshop_ctrl as vm">

        <!-- navigation menu -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- navbar-header when its collapsed -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my_navbar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="images/logo.jpg" alt="Logo brand" /></a>
                </div>
                <!-- things to collapse -->
                <div id="my_navbar" class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Početna</a></li>
						<li><a href="about.html">O nama</a></li>
						
						<li><a href="repertoar.html">Repertoar</a></li>
                        <li><a href="#" ng-click="vm.show_modal('reg')" ng-if="vm.show_reg">Registracija</a></li>
                        <li><a href="#" ng-click="vm.show_modal('login')" ng-if="vm.show_login">Login</a></li>   
						<li ng-show="vm.autorizovan"><a href="#" ng-click="vm.oglas()">Postavite oglas</a></li>						
                        <li class="dropdown" ng-if="vm.logged_in !== null">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{vm.logged_in}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="user_dropdown">
								
                                
                                <li style="text-align: right;"><a href="#" ng-click="vm.logout()">Logout</a></li>
								<li style="text-align: right;"><a href="#" ng-click="vm.show_modal('editP')" ng-if="vm.show_edit">Promena korisnika</a></li>
								
								
								
                            </ul>
                        </li>
                        <li><a href="#" ng-click="vm.show_cart()" ng-if="vm.logged_in !== null"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-family: FontAwesome;"></i> Korpa</a></li>
                    </ul>
                    <!-- search form -->
                    <div class="col-md-3 col-sm-5 col-xs-12 pull-right">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="vm.search_text" placeholder="Pretraga..." />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="vm.filter('search')"><i class="fa fa-search" aria-hidden="true" style="font-family: FontAwesome;"></i></button>
                                </div>
                            </div>
                        </form>
                    </div><!-- search form end -->
                </div> <!-- things to collapse end -->
            </div> <!-- container end -->
        </nav> <!-- navigation menu end -->

        <!-- uib alerts -->
        <div uib-alert
             ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
             dismiss-on-timeout="2500"
             close="closeAlert($index)">
            {{alert.msg}}
        </div>
        <!-- uib alerts end -->

        <!-- page content -->
        <div class="container page_container" ng-if="vm.show_page_container">

            <!-- breadcrumb -->
			
            <nav aria-label="breadcrumbs" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" ng-click="vm.pocetna()">Pocetna</a></li>
                    <li class="breadcrumb-item" ng-if="vm.kategorija !== null"><a href="#" ng-click="vm.filter_cat(vm.kategorija)">{{vm.kategorija}}</a></li>
                    <li class="breadcrumb-item" ng-if="vm.proizvod !== null">{{vm.proizvod.naziv}}</li>
					<div class="sortiranjee" style="text-align: right;">
					
					</div>
					
			
                </ol>
            </nav><!-- breadcrumb end -->

			
			
            <!-- category list -->
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="cat in vm.lista_kategorija" ng-click="vm.filter_cat(cat)">{{cat}}</a>
                </div>
				
				
				
				
				
            </div><!-- category list end -->
			
			
			
			
			

            <!-- items -->
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                <!-- all items -->
                <div class="row" ng-if="vm.proizvod === null">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="item in vm.proizvodi.slice((vm.current_page - 1) * vm.items_per_page, (vm.current_page) * vm.items_per_page)">
                        <img src="{{item.img}}" alt="Item picture" class="img-responsive" style="width: 256px; height: 160px;" />
                        <a href="#" ng-click="vm.selektuj_proizvod(item)">
                            <strong>{{item.naziv| limitTo: 20}}{{el.naziv.length > 20 ? '...' : ''}}</strong>
                        </a><br />
                        Cena: {{item.cena }}  dinara<br />    
						
						<button type="button" class="btn btn-primary btn-outline btn-xs"
                ng-click="vm.editProduct(el)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> 
                   <button type="button" class="btn btn-primary btn-outline btn-xs" ng-click="vm.removeProduct(el)" ng-show="vm.autorizovan">
                       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                   </button><br>
						
                        <a href="#" ng-click="vm.filter_cat(item.kategorija)"><small>{{item.kategorija}}</small></a>
						
						
                    </div>
                </div><!-- all items end -->
	
			
				
                <!-- one selected item -->
                <div class="row" ng-if="vm.proizvod !== null">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>{{vm.proizvod.naziv}}</strong><br />
                        <img src="{{vm.proizvod.img}}" alt="Item picture" class="img-responsive" style="width: 512px; height: 320px;" />
                        Cena: {{vm.proizvod.cena}} dinara&nbsp
						Popust: {{vm.proizvod.popust}}%  &nbsp                      
                        Cena sa popustom: {{vm.proizvod.cena - (vm.proizvod.cena * (vm.proizvod.popust / 100)) | number: 2}} dinara &nbsp
                        Broj preostalih karata: {{vm.proizvod.kolicina}}<br /><br />
						Opis: {{vm.proizvod.opis}}<br />
                        <a href="#" ng-click="vm.filter_cat(vm.proizvod.kategorija)"><small>{{vm.proizvod.kategorija}}</small></a><br />
                        <div class="col-md-3 col-sm-5 col-xs-12 pull-left" style="padding: 0;">
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="vm.quantity" placeholder="Kolicina..." />
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" ng-click="vm.buy(vm.proizvod)">Kupi</button>
                                </div>
                            </div>
                        </div><br /><br />
                        <button type="button" class="btn btn-warning col-md-3 col-sm-5 col-xs-12" ng-click="vm.continue_shopping()">Nazad</button>
                    </div>
                </div><!-- one selected item end -->

                <!-- pagination -->
                <div class="text-center" ng-if="vm.proizvod === null">
                    <ul uib-pagination 
                        direction-links="true"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        total-items="vm.total_items"
                        items-per-page="vm.items_per_page"
                        ng-model="vm.current_page"
                        max-size="vm.max_size"
                        class="pagination-sm"
                        boundary-links="true"
                        style="margin: 20px 0 10px 0;"></ul>
                </div>
                <!-- pagination end -->

            </div><!-- items end -->
        </div><!-- page content end -->
        
        <!-- cart container -->
        <div class="container cart_container" ng-if="vm.show_cart_container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Proizvodi</th>
                        <th style="width:10%">Cena</th>
                        <th style="width:8%">Kolicina</th>
                        <th style="width:22%" class="text-center">Suma stavke</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="el in vm.cart">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="{{el.item.img}}" alt="Slika proizvoda" class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4>{{el.item.naziv}}</h4>
                                    <label><small>{{el.item.popust !== 0 ? 'Proizvod je na popustu' : ''}}{{el.quantity > 10 ? ', imate dodatnih 5% popusta na kolicinu' : ''}}</small></label>
                                    <p>{{el.item.opis}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{el.item.cena}}</td>
                        <td data-th="Quantity" class="text-center">{{el.quantity}}</td>
                        <td data-th="Subtotal" class="text-center">{{el.subtotal}} din</td>
						
                        <td class="actions" data-th="">                            
                            <button class="btn btn-danger btn-sm" ng-click="vm.delete_item($index)"><i class="fa fa-trash-o"></i></button>								
                        </td>
                    </tr>
                </tbody>
                <tfoot>                    
                    <tr>
                        <td><a href="#" class="btn btn-warning" ng-click="vm.continue_shopping()"><i class="fa fa-angle-left"></i> Nastavi kupovinu</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total {{vm.total}} din</strong></td>
                        <td><a href="#" onClick="window.print()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						
                    </tr>
                </tfoot>
            </table>
        </div><!-- cart container en end -->

        <!-- registration and login modal -->
        <script type="text/ng-template" id="modal.html">
            <div class="modal-header">
                <h3 class="modal-title" ng-if="vm2.state === 'login'">Login</h3>
                <h3 class="modal-title" ng-if="vm2.state === 'reg'">Registracija</h3>
				<h3 class="modal-title" ng-if="vm2.state === 'oglas'">Dodavanje novog oglasa</h3>
				
            </div>    
            <div class="modal-body">
                <!-- login modal -->
                <section class="login-form" ng-if="vm2.state === 'login'">
                    <form>
                        <div class="form-group">                        
                            <input type="text" ng-model="vm2.login_name" class="form-control" placeholder="Korisnicko ime">                        
                            <input type="password" ng-model="vm2.login_password" class="form-control" placeholder="Lozinka">                    
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-click="vm2.login()">Login</button>
                            <a href="#" ng-click="vm2.state = 'reg'">Nemate nalog? Registrujte se</a>
                        </div>                    
                    </form>
                </section><!-- login modal end-->
                <!-- registration modal -->
                <section class="login-form" ng-if="vm2.state === 'reg'">
                    <form>
                    <div class="form-group">                        
                        <input type="text" ng-model="vm2.signup_name" class="form-control" placeholder="Korisnicko ime">                        
                        <input type="password" ng-model="vm2.signup_password" class="form-control" placeholder="Lozinka">                                            
                        <input type="password" ng-model="vm2.confirmed_password" class="form-control" placeholder="Ponovljena lozinka">                    
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="vm2.register()">Registruj se</button>
                    </div>
                </form>
                </section><!-- registration modal end-->
            </div>
            <div class="modal-footer">                
                <button class="btn btn-warning" ng-click="vm2.cancel()">Nazad</button>                   
            </div>
				
				
            </div>
            
        </script><!-- registration and login modal end -->
		
		<script type="text/ng-template" id="editMovie.html">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Edit automobila</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <form>
           <div class="col-md-6">
                Ime predstave:<input class="form-control input-lg" type="text" placeholder="marka" ng-model="$ctrl.naziv"><br>
                Cena:<input class="form-control input-lg" type="text" placeholder="model" ng-model="$ctrl.cena"><br>
                
            </div>
            <div class="col-md-6">
                Ocena:<input class="form-control input-lg" type="text" placeholder="kubikaža" ng-model="$ctrl.ocena"><br>
                
               
            </div>
            <button class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.save()">Sačuvaj</button>
            
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Odustani</button>
        </div>
    </script>
	
    </body>
</html>
